.users {
    width: 100%;
}

.users__select {
    width: 100%;
    padding: .625rem 1.5rem;
    border-radius: 1rem;
    font-size: 1.125rem;
}

.users__select-item{
    font-size: 1.125rem;
}

.users__select:hover{
    cursor: pointer;
}